# dependencies
**/node_modules

# builds
**/dist
**/.output

# envs
**.env
**.env.*

# other folders
.git
.vscode
localstack
.turbo
**/.turbo
email

# other project files
Dockerfile
docker-compose.yml
.syncpackrc.js
prettier.config.js