<table>
  <tbody>
    <tr>
      <td>
        {% block header %}
        {% endblock %}
      </td>
    </tr>
    <tr>
      <td>
        {% block content %}
        {% endblock %}
      </td>
    </tr>
  </tbody>
</table>
